* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0;
}



header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
  color: white;
  letter-spacing: 2px;
  font-size: 20px;
}

.header-left {
  float: left;
}





.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 22px 400px;
  text-decoration: none;
  font-size: 20px;
}





.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 17px;
  font-size: 17px;
  border-radius: 25px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 17px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border-radius: 25px;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}






.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidebar a {
  padding: 20px 8px 20px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidebar a.active {
  background-color: #61686F;
  color: white;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.main {

  margin-left: 160px; 
  padding: 60px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}




.card{
     width: 25%;
     height: 300px;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }

.card:hover {
  box-shadow: 2px 2px 10px black;
}

.title{
 
  
  padding: 10px;
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
  padding-top: 10px;
  
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}


.des a {
  padding: 12px 30px;
  border-radius: 4px;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all .5s ease;
}

.des .btnone {
  background: #01437B;
  color: white;
}

.btnone:hover {
  background: #fff;
  color: #000;
}

.des .btntwo {
  background: #01437B;
  color: white;
}

.btntwo:hover {
  background: #fff;
  color: #000;
}














 
